* {
	box-sizing: border-box; 
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: 'Helvetica', 'Verdana', sans-serif;
	font-weight: 400;
	font-display: optional;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	font-size: 12px;
}

html {
}

body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	background: #ececec; 
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	background: #ececec; 
}
p {
	font-size: 12px;
	line-height: 16px;
	text-align: justify;
    text-justify: inter-word;
}
.overlay {
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 0;
	background: rgba(0,0,0,.5);
	z-index: 1000;
	display: none;
}
.sidebar {
	position: fixed;
	top: 0; left: 0; bottom: 0; right: 20%;
	background: #fff;
	z-index: 1001;
	display: none;
}
.sidebar__image img {
	width: 100%;
}
.sidebar__nav {}
.sidebar__nav ul {
	padding: 0;
	list-style: none;
}
.sidebar__nav li {
}
.sidebar__nav li a {
	display: block;
	padding: 15px 20px;
	color: #111;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
.sidebar__nav li.active a {
	background: #eaeaea;
}

.header {
	width: 100%;
	height: 56px;
	color: #FFF;
	background: #1e6bec;
	position: fixed;
	font-size: 20px;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	padding: 16px 16px 0 16px;
	will-change: transform;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-align-content: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
	transition: -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
	transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
	transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s, -webkit-transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
	z-index: 1000; 
}
.header .headerButton {
	width: 24px;
	height: 24px;
	margin-right: 16px;
	text-indent: -30000px;
	overflow: hidden;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	padding: 0 3px;
}
.header .headerButton__bar {
	height: 2px;
	background: #fff;
	margin-top: 2px;
	margin-bottom: 3px;
}
.header .headerButton__refresh {
	background: url(../images/ic_refresh_white_24px.svg) center center no-repeat; 
	margin-right: 0;
}
.header__title {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.main {
	margin-top: 56px;
}
.jumbotron { height: 210px; }
.jumbotron img {
	width: 100%;
	height: 100%;
}
.content {
	    margin-top: 0;
	padding: 20px 10px;
	background: #fff;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.title {
	font-size: 24px;
	margin: 0;
}
.images {
	background: #fff;
	margin: 5px;
	padding: 5px 10px;
}
.images img {
	width: 100%;
}
.images__label {
	font-size: 18px;
	margin: 5px 0;
}

.image-slider { margin-bottom: 15px; }
.image-slider .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.image-slider h4 {
	position: absolute;
	top: 20px;
	left: 10px;
	font-size: 18px;
	color: white;
}

.button-wrapper {
	padding: 10px;
}
.popup-button { 
	padding: 13px 20px; 
	border-radius: 2px;
	background: #1e6bec;
	text-decoration: none;
	color: #fff;
	display: block;
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
}
.popup-content {display: none;}
.featherlight-content {
	padding-top: 25px !important;
	margin-left: 10px  !important;
    margin-right: 10px !important;
    max-height: 80% !important;
}

footer {
	background: #777;
	color: #fff;
	margin-top: 10px;
	padding: 10px 10px;
}
footer p {
	    line-height: 16px;
    font-size: 12px;
    text-align: center;
}

.title {
	font-size: 24px;
	margin: 0;
}
.images {
	background: #fff;
	margin: 5px;
	padding: 5px 10px;
}
.images img {
	width: 100%;
}
.images__label {
	font-size: 18px;
	margin: 5px 0;
}

.image-slider { margin-bottom: 15px; }
.image-slider .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.image-slider h4 {
	position: absolute;
	top: 20px;
	left: 10px;
	font-size: 18px;
	color: white;
}

.button-wrapper {
	padding: 10px;
}
.popup-button { 
	padding: 13px 20px; 
	border-radius: 2px;
	background: #1e6bec;
	text-decoration: none;
	color: #fff;
	display: block;
	float: left;
	margin-left: 5px;
	margin-bottom: 5px;
}
.popup-content {display: none;}
.featherlight-content {
	padding-top: 25px !important;
	margin-left: 10px  !important;
    margin-right: 10px !important;
    max-height: 80% !important;
}

.thumbnail-wrapper {
	position: relative;
	background: #fff;
	padding: 10px;
	min-height: 215px;
}
.thumbnail-wrapper h5 {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 10px;
}
.thumbnail-wrapper .row {
	clear: both;
}
.thumbnail-wrapper .row .left {
	float: left;
}
.thumbnail-wrapper .row .right {
	float: right;
	width: 25%;
}
.thumbnail-wrapper .row .big {
	width: 75%;
}
.thumbnail-wrapper .item {
	width: 100%;
	padding: 1px;
	box-sizing: border-box;
}
.thumbnail-wrapper .row .big .item {
	padding: 1px 2px;
	height: 172px;
}

.table {
	width: 100%;
}
.table th {
	font-weight: bold;
	border: 1px solid #ccc;
	padding: 5px;
}
.table td {
	border: 1px solid #ccc;
	padding: 5px;
}
.table td.small {
	font-size: 11px;
}

footer {
	background: #777;
	color: #fff;
	margin-top: 10px;
	padding: 10px 10px;
}
footer p {
	    line-height: 16px;
    font-size: 12px;
    text-align: center;
}